@import "https://bootstrapbuildspace.sfo2.cdn.digitaloceanspaces.com//NYsiLXJhQPZL/avwgbGyXdigf/bootstrap.min.css";

input {
    font-size: 18px;
    display: block;
    margin: auto;
    padding: 4px 8px;
    border: 1px solid;
}

button {
    padding: 8px 24px;
    border: 1px solid;
    border-radius: 4em;
}

ul {
    padding: 0;
    list-style: none;
}

.fx {
    display: flex;
    width: min-content;
}
@mixin fx {
    display: flex;
    width: min-content;
}

.m-auto {
    margin: auto;
}
